@use '../../themes/variables.scss';

.wrapper {
  height: 100vh;
  display: flex;
  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: variables.$padding-xl variables.$padding-xl variables.$padding-md
      variables.$padding-xl;

    .content {
      flex-grow: 1;
      padding: variables.$padding-xl 0;
      overflow: auto;
    }
  }
}
