@use '../../themes/variables.scss';

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

.container {
  display: flex;
  gap: variables.$gap-xl;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  max-height: variables.$layout-size;
  width: 100%;
}

@media screen and (max-width: variables.$md-max) {
  .layout {
    height: auto;
  }
  .container {
    flex-direction: column;
  }
}
