@use '../../../themes/variables.scss';
@use '../../../themes/mixins.scss';

.textBlock {
  flex: 0 1 50%;
  line-height: 30px;
  border: 1px solid variables.$border-color-primary;
  border-radius: variables.$border-radius-base;
  padding: variables.$padding-md;
  overflow: auto;
  .textBlockItem {
    margin-bottom: variables.$margin-xl;
  }
  .title {
    font-size: variables.$font-size-lg;
    margin-bottom: variables.$margin-xl;
    text-align: center;
  }
  .info {
    p {
      text-indent: variables.$text-indent;
      span {
        font-weight: bold;
      }
    }
  }
  li {
    position: relative;
    text-indent: 25px;
    margin-bottom: variables.$margin-md;
    &:last-child {
      margin: 0;
    }
    &::before {
      content: '✅';
      position: absolute;
      top: 0;
      left: -25px;
    }
  }
  .link {
    color: variables.$dark-btn-color-primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      animation: 0.13s ease-in-out;
    }
  }
  @include mixins.borderGradient(
    variables.$dark-bg-primary,
    variables.$dark-link-bg-active,
    false
  );
}

body[data-app-theme='light'] {
  .textBlock {
    @include mixins.borderGradient(
      variables.$light-bg-primary,
      variables.$light-link-bg-active,
      false
    );
    .link {
      color: variables.$light-btn-color-primary;
    }
  }
}

@media screen and (max-width: variables.$md-max) {
  .textBlock {
    flex: 0 0 auto;
    order: 2;
  }
}
