@use '../../../themes/variables.scss';

.contentBlock {
  display: flex;
  flex-direction: column;
  gap: variables.$gap-xl;
  flex: 0 1 50%;
  overflow: auto;
}

@media screen and (max-width: variables.$md-max) {
  .contentBlock {
    flex: 0 0 auto;
    order: 2;
  }
}
