@use '../../themes/variables.scss';

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

.container {
  display: flex;
  max-height: 850px;
  height: 100%;
}

@media screen and (max-width: variables.$md-max) {
  .layout {
    height: auto;
  }
}
