@use '../../../../themes/variables.scss';
@use '../../../../themes/mixins.scss';

.coin {
  position: relative;
  padding: variables.$padding-md;
  background-color: variables.$dark-dashboard-block-bg;
  border: 3px solid variables.$border-color-primary;
  border-radius: variables.$border-radius-base;
  height: 240px;
  .coinIcon {
    position: absolute;
    top: -30px;
    left: 200px;
    img {
      border-radius: 50%;
    }
  }
  .coinData {
    margin-top: variables.$margin-lg;
    .panel {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: variables.$margin-sm;
      .ratio {
        display: flex;
        align-items: center;
        gap: variables.$gap-sm;
        span {
          color: orange;
        }
      }
      .dynamic {
        display: flex;
        align-items: center;
        gap: 4px;
        .percentDown {
          color: variables.$dark-percent-down-color;
        }
        .downIcon {
          color: variables.$dark-percent-down-color;
        }
        .percentUp {
          color: variables.$dark-percent-up-color;
        }
        .upIcon {
          color: variables.$dark-percent-up-color;
        }
      }
    }
  }
  .chart {
    margin-top: 10px;
  }
}

.tooltip {
  @include mixins.tooltip;
}
