@use '../../themes/variables.scss';

.drawer {
  div {
    background-color: rgba($color: variables.$dark-bg-primary, $alpha: 0.8);
  }
}

body[data-app-theme='light'] {
  .notFound {
    .notFound404 {
      .btn {
        color: variables.$light-text-primary;
      }
    }
  }
  .drawer {
    div {
      background-color: rgba($color: variables.$light-bg-primary, $alpha: 0.8);
    }
  }
}
