@use 'scss-reset/reset.scss';
@use './themes/variables.scss';

body {
  font-size: variables.$font-size-md;
}

body[app-theme='light'] {
  background-color: variables.$light-bg-primary;
  color: variables.$light-text-primary;
}

body[app-theme='dark'] {
  background-color: variables.$dark-bg-primary;
  color: variables.$dark-text-primary;
}
