@use '../themes/variables.scss';

.notFound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .notFound404 {
    text-align: center;
    h1 {
      font-size: 10em;
      font-weight: bold;
      line-height: 120px;
    }
    p {
      font-size: 5em;
      margin-bottom: variables.$margin-md;
    }
    .btn {
      display: block;
      margin: 0 auto;
      border: 1px solid variables.$border-color-primary;
      border-radius: variables.$border-radius-sm;
      max-width: 150px;
      color: variables.$dark-btn-color-primary;
      width: 100%;
      padding: variables.$padding-sm;
      text-decoration: none;
      &:hover {
        background-color: rgba(
          $color: variables.$dark-btn-color-primary,
          $alpha: 0.1
        );
      }
    }
  }
}
