$layout-size: 1250px;
$font-size-xs: 10px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 32px;
$font-size-xl: 64px;
$font-size-dashboard-item-title: 26px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 32px;
$margin-xl: 64px;
$margin-2xl: 128px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-xl: 32px;
$border-radius-sm: 4px;
$border-radius-base: 16px;
$border-color-primary: #595169;
$gap-sm: 8px;
$gap-md: 16px;
$gap-xl: 32px;
$bg-angle: 0deg;
$text-indent: 25px;

// light theme variables
$light-bg-primary: #ede9fc;
$light-text-primary: #000000;
$light-link-bg-active: #dbd3f8;
$light-link-color-icon: #000000;
$light-dashboard-block-bg: #dbd3f8;
$light-btn-color-primary: #f78272;
$light-percent-up-color: #3a6508;
$light-percent-down-color: rgb(93, 20, 4);

// dark theme variables
$dark-bg-primary: #261e35;
$dark-text-primary: #ffffff;
$dark-text-secondary: #cdc3e6;
$dark-link-bg-active: #372c44;
$dark-link-color-icon: #d8bcff;
$dark-avatar-bg-primary: #3f3655;
$dark-btn-color-primary: #d8bcff;
$dark-input-color-primary: #d8bcff;
$dark-dashboard-block-bg: #383146;
$dark-percent-up-color: #17ffc1;
$dark-percent-down-color: rgb(254, 138, 112);

// Breakpoints

$xxs-max: 400px;
$xs-max: 575px;
$xs-min: 576px;
$sm-max: 767px;
$sm-min: 768px;
$md-max: 991px;
$md-min: 992px;
$lg-max: 1199px;
$lg-min: 1200px;
$xl-max: 1599px;
$xl-min: 1600px;
