@use 'scss-reset/reset.scss';
@use './variables.scss';
@use 'swiper/scss';
@use 'swiper/scss/effect-coverflow';
@use 'swiper/scss/navigation';

:root {
  --bg-angle: 0deg;
}

html {
  scroll-behavior: smooth;
}

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

body {
  font-size: variables.$font-size-md;
  .swiper-slide {
    border-radius: variables.$border-radius-base;
  }
  text-rendering: auto;
  .MuiButtonBase-root {
    background-color: transparent !important;
  }
}

body[data-app-theme='light'] {
  background-color: variables.$light-bg-primary;
  color: variables.$light-text-primary;

  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      color: black;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    background-color: variables.$light-dashboard-block-bg;
    background-image: linear-gradient(
      to right,
      variables.$light-dashboard-block-bg,
      variables.$light-dashboard-block-bg
    );
  }
  .MuiPagination-root {
    margin-top: 26px;
    ul {
      justify-content: center;
      li {
        button {
          color: variables.$light-link-color-icon;
        }
      }
    }
  }
}

body[data-app-theme='dark'] {
  background-color: variables.$dark-bg-primary;
  color: variables.$dark-text-primary;

  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      color: variables.$dark-btn-color-primary;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    background-color: transparent;
    background-image: linear-gradient(to right, #644b8e2e, #644b8e2e);
  }
  .MuiPagination-root {
    margin-top: 26px;
    ul {
      justify-content: center;
      li {
        button {
          color: variables.$dark-btn-color-primary;
        }
      }
    }
  }
}

@media screen and (max-width: variables.$sm-max) {
  body {
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        font-size: variables.$font-size-dashboard-item-title;
      }
    }
  }
}
