@use '../../themes/variables.scss';

.header {
  display: flex;
  align-items: center;
  height: 55px;
  .title {
    flex: 1 1 auto;
    text-align: center;
    font-size: variables.$font-size-lg;
  }
  .panel {
    display: flex;
    flex: 0 1 auto;
    gap: variables.$gap-sm;
  }
  .switchBtn {
    color: variables.$dark-link-color-icon;
    .darkThemeIcon {
      display: block;
    }
    .lightThemeIcon {
      display: none;
    }
  }
}

body[data-app-theme='light'] {
  .header {
    .switchBtn {
      color: variables.$light-link-color-icon;
      .darkThemeIcon {
        display: none;
      }
      .lightThemeIcon {
        display: block;
      }
    }
  }
}
