@use '../../themes/variables.scss';

.header {
  display: flex;
  align-items: center;
  height: 55px;
  .title {
    flex: 1 1 auto;
    text-align: center;
    font-size: variables.$font-size-lg;
  }
  .panel {
    display: flex;
    flex: 0 1 auto;
  }
  .switchBtn {
    color: variables.$dark-link-color-icon;
  }
}

body[data-app-theme='light'] {
  .header {
    .switchBtn {
      color: variables.$light-link-color-icon;
    }
  }
}
