@use '../../../../themes/variables.scss';
@use '../../../../themes/mixins.scss';

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  max-width: 500px;
  width: 100%;
  height: 100%;
  max-height: 800px;
  overflow: auto;
  margin: 0 auto;
  line-height: 30px;
  border: 1px solid variables.$border-color-primary;
  border-radius: variables.$border-radius-base;
  padding: variables.$padding-md;
  @include mixins.borderGradient(
    variables.$dark-bg-primary,
    variables.$dark-link-bg-active,
    true
  );
  .title {
    transform: translateZ(20px);
    padding-top: variables.$padding-md;
    font-style: italic;
    font-size: variables.$font-size-lg;
    text-align: center;
    margin-bottom: variables.$margin-md;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: variables.$border-radius-base;
    img {
      border-radius: variables.$border-radius-base;
      width: auto;
      height: auto;
      object-fit: cover;
    }
  }
  .description {
    text-indent: variables.$text-indent;
    margin-bottom: variables.$margin-lg;
  }
  .buttons {
    display: flex;
    gap: variables.$gap-sm;
    justify-content: center;
    align-items: center;
    margin-top: variables.$margin-sm;
    text-align: center;
    .btn {
      border: 1px solid variables.$border-color-primary;
      border-radius: variables.$border-radius-sm;
      max-width: 300px;
      width: 100%;
      a {
        background-color: transparent;
        color: variables.$dark-btn-color-primary;
        text-decoration: none;
      }
    }
    .icon {
      svg {
        font-size: variables.$font-size-xl;
        color: variables.$dark-link-color-icon;
        &:hover {
          color: rgba($color: variables.$dark-link-color-icon, $alpha: 0.5);
        }
      }
    }
    z-index: 10;
  }
  .labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: variables.$gap-sm;
    font-style: italic;
    span {
      margin-right: variables.$margin-sm;
      &:last-child {
        margin: 0;
      }
      padding: variables.$padding-sm;
      background-color: rgba(variables.$dark-btn-color-primary, 0.3);
      font-weight: bold;
      border-radius: variables.$border-radius-sm;
    }
  }
  & .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
}
