@use '../../../../app/themes/variables.scss';

.icon-dark-styles {
  svg {
    color: variables.$dark-link-color-icon;
    padding: variables.$padding-md;
    font-size: variables.$font-size-xl;
  }
}

.icon-light-styles {
  svg {
    color: variables.$light-link-color-icon;
    padding: variables.$padding-md;
    font-size: variables.$font-size-xl;
  }
}

body[app-theme='dark'] {
  .link {
    border-radius: variables.$border-radius-base;
    @extend .icon-dark-styles;
    &Active {
      background-color: variables.$dark-link-bg-active;
      @extend .icon-dark-styles;
    }
  }
}

body[app-theme='light'] {
  .link {
    border-radius: variables.$border-radius-base;
    @extend .icon-light-styles;
    &Active {
      background-color: variables.$light-link-bg-active;
      @extend .icon-light-styles;
    }
  }
}
