@use '../../../themes/variables.scss';

.preview {
  display: flex;
  height: 100%;
  align-items: center;
  h2 {
    font-weight: bold;
    font-size: variables.$font-size-lg;
  }
}

body[data-app-theme='light'] {
  .preview {
    h2 {
      color: #b0c6bf;
    }
  }
  @media screen and (max-width: variables.$sm-max) {
    .preview {
      h2 {
        color: black;
      }
    }
  }
}
