@use '../../../../themes/variables.scss';

.skillsBlock {
  border: 1px solid variables.$border-color-primary;
  border-radius: variables.$border-radius-base;
  height: 50%;
  padding: variables.$padding-md;
}
